<th:block th:include="@{search/_header.html}"/>
<!-- 
날짜 : 2023-03-20
이름 : 장인화
내용 : View2에 내 주변 병원 찾기
 -->
 
 <style>
 	.view2 > .addrT{
 	    margin: 0 auto;
 		text-align: center;
    	padding: 50px 0 30px;
    	font-size: 30px;
        font-weight: 400;
        display: table;
 	}
 	
 	.view2 > .addrT >.addrH{
 		
 		font-weight: 500;
 		color: cornflowerblue;
 		display: table-cell;
 		
 	}
 	
 	.view2 > .addrT >.addrH:hover{
 		
 		color: darkblue;
 	}
 	
 	.view2 > .ns {
 		width: 500px;
    	height: 51px;
    	margin-left: 530px;
    	margin-bottom: 20px
 	}
 	
 	.view2 > .ns input {
 		width: 300px;
    	height: 35px;
 	}
 	
 	.view2 > .ns button {
 		width: 60px;
    	height: 35px;
    	margin-left: 10px;
    	background-color: #0dbcaf;
    	color: #fff;
 	}
 	
 	.result {
 	 	width: 800px;
 		margin: 0 auto;
 		text-align: center;
		padding: 25px 		
 	}
 	
 	.result > .explain {
 		margin-top: 10px
 	}
 	
 </style>
 
 <main>
 
 	  <div class="view2">
        <div class="contents">
        	<input type="hidden" name="uid" th:value="${m.uid}">
		    <input type="hidden" name="addr" th:value="${m.addr1}">
	          
	          <div class="view-top">    
		 	  	<h3 class="title">내 주변 동물병원 찾기</h3>
		 	  </div>  
		 	  
	    </div>
	     
	 	 <div class="addrT">
	 	  	혹시 주소가 <div class="addrH" id="addrH">' [[${m.addr1}]] '</div>이 아닌가요?
	 	 </div>
	 	 <div class="ns" id="ns">
	 	 	<input type="text" name="NewAddr" placeholder="주소를 입력해주세요."><button type="button" id="click">확인</button>
	 	 </div>
      </div>
        
    <div id="map" style="width:60%;height:400px; margin: 0 auto;"></div>
    
    <div class="result">
    	<div>
    		<img th:src="@{/img/search-지도.jpg}" alt="지도아이콘">
    	</div>
        
        <div class="explain">
         <p class="addr">zip  hosAddr Tell</p>
        </div>
    </div>
      
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5f25185293d664bcd951443d8b8e4a67&libraries=services"></script>
    <script>
		
     $('#ns').hide();	
     
     
     let addr = $('input[name=addr]').val();
     console.log(addr);	
     let search = addr + ' 동물병원';
     console.log("s1 : " + search);
     
     $(function(){
    	 $('#addrH').click(function(){
    		 $('#ns').show();	
    	 });
    	 
    	 let NewAddr = $('input[name=NewAddr]').val();
    	 
    	 $('#click').click(function(){
    		 $('#ns').hide();
    		 
    		 search = newAddr + ' 동물병원'; 
    		 console.log("s2 : " + search);
    	 });
    	 
    	 
     });
     
     console.log("s3 : " + search);
     
	 // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
	    var infowindow = new kakao.maps.InfoWindow({zIndex:1});
	
	    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	        mapOption = {
	            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
	            level: 3 // 지도의 확대 레벨
	        };  
	
	    // 지도를 생성합니다    
	    var map = new kakao.maps.Map(mapContainer, mapOption); 
	
	    // 장소 검색 객체를 생성합니다
	    var ps = new kakao.maps.services.Places(); 
	
	    // 키워드로 장소를 검색합니다
	    ps.keywordSearch(search, placesSearchCB); 
	
	    // 키워드 검색 완료 시 호출되는 콜백함수 입니다
	    function placesSearchCB (data, status, pagination) {
	        if (status === kakao.maps.services.Status.OK) {
	
	            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
	            // LatLngBounds 객체에 좌표를 추가합니다
	            var bounds = new kakao.maps.LatLngBounds();
	
	            for (var i=0; i<data.length; i++) {
	                displayMarker(data[i]);    
	                bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
	            }       
	
	            // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
	            map.setBounds(bounds);
	        } 
	    }
	
	    // 지도에 마커를 표시하는 함수입니다
	    function displayMarker(place) {
	        
	        // 마커를 생성하고 지도에 표시합니다
	        var marker = new kakao.maps.Marker({
	            map: map,
	            position: new kakao.maps.LatLng(place.y, place.x) 
	        });
	
	        // 마커에 클릭이벤트를 등록합니다
	        kakao.maps.event.addListener(marker, 'click', function() {
	            // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
	            infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
	            infowindow.open(map, marker);
	        });
	    }
		
    </script>
</main>
<th:block th:include="@{search/_footer.html}"/>