<th:block th:include="@{my/_header.html}"/>
                        <div class="mypage-contents">
                            <div class="mypage-contents_head">
                                <h2 class="mypage-contents__title">나의 쿠폰</h2>
                            </div>
                            <!--게시물 목록-->
                            <div class="mypage-contents_body">
                                <table border="0">
                                    
                                    <tr class="listTitle">
                                        <th>쿠폰명</th>
                                        <th>할인금액</th>
                                        <th>적용기준</th>
                                        <th>유효기간</th>
                                    </tr>
                            
                                    <tr>
                                        <td><a href="#">신규 회원 쿠폰</a></td>
                                        <td>10%</td>
                                        <td>신규 회원가입시</td>
                                        <td>~2024-03-28</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">깜짝 이벤트 5000원 쿠폰</a></td>
                                        <td>5000원</td>
                                        <td>-</td>
                                        <td>~2024-03-28</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">깜짝 이벤트 5000원 쿠폰</a></td>
                                        <td>5000원</td>
                                        <td>-</td>
                                        <td>~2024-03-28</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">깜짝 이벤트 5000원 쿠폰</a></td>
                                        <td>5000원</td>
                                        <td>-</td>
                                        <td>~2024-03-28</td>
                                    </tr>
                                    
                                </table>
                            </div>
                            <!-- 검색목록 페이지 번호 -->
                            <!-- 검색목록 페이지 번호 -->
                            <div class="paging">
                                <span class="prev">
                                    <a href="#"><&nbsp;이전</a>
                                </span>
                                <span class="num">
                                    <a href="#" class="on">1</a>
                                    <a href="#">2</a>
                                    <a href="#">3</a>
                                </span>
                                <span class="next">
                                    <a href="#">다음&nbsp;></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
<th:block th:include="@{my/_footer.html}"/>