<th:block th:include="@{my/_header.html}"/>

    <div class="mypage-contents">
                            <div class="mypage-contents_head">
                                <h2 class="mypage-contents__title">보호자정보관리</h2>
                            </div>
                            <!--게시물 목록-->
                            <div class="info_div">
                                <table class="info_table">
                                    <tr>
                                        <td>아이디</td>
                                        <td><span>dongdong1234</span></td>
                                    </tr>
                                    <tr>
                                        <td>이름</td>
                                        <td><span>홍길동</span></td>
                                    </tr>
                                    <tr>
                                        <td>이메일</td>
                                        <td><span>dongdong@naver.com</span></td>
                                    </tr>
                                    <tr>
                                        <td>닉네임</td>
                                        <td><span>동동</span></td>
                                    </tr>
                                    <tr>
                                        <td>휴대폰</td>
                                        <td><span>010-1234-1234</span></td>
                                    </tr>
                                    <tr>
                                        <td>주소</td>
                                        <td><span>(48907) 해운대구 달맞이길 56(중동)</span></td>
                                    </tr>
                                    <tr>
                                        <td>회원탈퇴</td>
                                        <td><button>탈퇴하기</button></td>
                                    </tr>
                                </table>
                                <div id="info_modify">
                                    <button><span>수정하기</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
                    
<th:block th:include="@{my/_footer.html}"/>