<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>HelloPet</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/my.css}">
</head>
<body>
    <div id="wrapper">
         <header class="header">
            <div class="headerTop">
                <div>
                	<label style="display: none;" sec:authorize="hasAuthority('ROLE_1')"><span class="level" sec:authentication="principal.member.level"></span></label>
                	<label style="display: none;" sec:authorize="hasAuthority('ROLE_7')"><span class="level" sec:authentication="principal.member.level"></span></label>
                	<label style="display: none;" sec:authorize="hasAuthority('ROLE_2')"><span class="level" sec:authentication="principal.medical.level"></span></label>
                	<label style="display: none;" sec:authorize="hasAuthority('ROLE_3')"><span class="level" sec:authentication="principal.medical.level"></span></label>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/member/login}">로그인</a>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/member/join}">회원가입</a>
                    <label sec:authorize="hasAuthority('ROLE_1')"><span class="name" sec:authentication="principal.member.nick">길동</span>님</label>
                    <label sec:authorize="hasAuthority('ROLE_2')"><span th:onclick="location.href='/HelloPet/admin/info'">내 병원관리</span></label></a>
	                <label sec:authorize="hasAuthority('ROLE_3')"><span th:onclick="location.href='/Hellopet/admin/info'">내 약국관리</span></label></a>
	                <label sec:authorize="hasAuthority('ROLE_7')"><span>웹관리자님</span></label></a>
                	<a sec:authorize="isAuthenticated()" th:href="@{/member/logout}" class="logout">로그아웃</a>
                    <a sec:authorize="hasAuthority('ROLE_1')" href="#">마이페이지</a>
                    <a th:href="@{/message/message}" class="socket">알림</a>
                </div>
            </div>
            <div class="menu">
                <div>
                    <ul>
                        <li><a th:href="@{/disease/index}">증상별질병찾기</a></li>
                        <li><a th:href="@{/search/index}">병원/약국찾기</a></li>
                        <li class="logo"><a th:href="@{/}"><img th:src="@{/img/ci.png}" alt="logo"></a></li>
                        <li><a th:href="@{/community/tip/list}">커뮤니티</a></li>
                        <li><a th:href="@{/cs/notice/list}">고객센터</a></li>
                    </ul>
                </div>
            </div>
        </header>
         <div id="sub-wrap">
            <div class="sub-contents">
                <div class="container">
                    <div class="mypage-container">
                        <nav class="mypage-navigation">
                            <ul class="mypage-nav">
                                <li class="mypage-nav_list">
                                    <a th:href="@{/my/info}" name="mypage-nav__list-link">
                                        <span>보호자 정보관리</span>
                                    </a>
                                </li>
                                <li class="mypage-nav_list">
                                    <a th:href="@{/my/myReserve}" name="mypage-nav__list-link">
                                        <span>예약관리</span>
                                    </a>
                                </li>
                                <li class="mypage-nav_list">
                                    <a th:href="@{/my/myArticle}" name="mypage-nav__list-link">
                                        <span>게시글 관리</span>
                                    </a>
                                </li>
                                <li class="mypage-nav_list">
                                    <a th:href="@{/my/myQna}" name="mypage-nav__list-link">
                                        <span>1:1 문의</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                         <div class="mypage-contents">
						     <div class="mypage-contents_head">
						         <h2 class="mypage-contents__title">보호자정보관리</h2>
						     </div>
				     		<!--게시물 목록-->
					        <div class="info_div">
								<form th:action="@{/my/info}" method="post">
						            <table class="info_table">
						                <tr>
						                    <td>아이디</td>
						                    <td>
												<input type="text" name="uid" th:value="${member.uid}" readonly="readonly">
											</td>
						                </tr>
						                <tr>
						                    <td>이름</td>
						                    <td>
												<input type="hidden" name="ori-Name" th:value="${member.name}">
												<input type="text" name="name" th:value="${member.name}">
											</td>
						                </tr>
						                <tr>
						                    <td>이메일</td>
						                    <td  th:if="${#authentication.principal.member != null}">
												<input type="hidden" name="ori-Email" th:value="${member.email}">
												<input type="text" name="email" th:value="${member.email}">
											</td>
						                </tr>
						                <tr>
						                    <td>닉네임</td>
						                    <td  th:if="${#authentication.principal.member != null}">
												<input type="hidden" name="ori-Nick" th:value="${member.nick}">
												<input type="text" name="nick" th:value="${member.nick}">
											</td>
						                </tr>
						                <tr>
						                    <td>휴대폰</td>
						                    <td  th:if="${#authentication.principal.member != null}">
												<input type="hidden" name="ori-Hp" th:value="${member.hp}">
												<input type="text" name="hp" th:value="${member.hp}">
											</td>
						                </tr>
						                <tr>
						                    <td>주소</td>
						                    <td  th:if="${#authentication.principal.member != null}">
												<input type="text" name="zip"  th:value="${'(' + #authentication.principal.member.zip + ') '+ #authentication.principal.member.addr1 + '  ('+ #authentication.principal.member.addr2 + ')'}">
											</td>
						                </tr>
						                <tr>
						                    <td>회원탈퇴</td>
						                    <td><button name="btnWithdrawMember">탈퇴하기</button></td>
						                </tr>
						            </table>
						            <div id="info_modify">
						                <input type="submit" name="infoModify" value="수정하기">
						            </div>
								</form>
					        </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	    <footer>
	       <div class="footer">
	            <div class="container">
	                <div class="footer-col">
	                    <ul class="info">
	                        <li>GREEN ACADEMY</li>
	                        <li>대표이사 김헬로</li>
	                        <li>사업자 등록번호 230-12-15432</li>
	                        <li>통신판매업신고번호 제 2023-부산-00213호</li>
	                        <li>부산광역시 남구 수영로 299</li>
	                        <li>TEL 051-000-0000</li>
	                        <li>Email HelloPet@email.com</li>
	                    </ul>
	                </div>
	                <div class="footer-col">
	                    <ul class="link">
	                        <li><a href="#">회사소개</a></li>
	                        <li><a href="#">이용약관</a></li>
	                        <li><a href="#">문의하기</a></li>
	                        <li><a href="#">고객센터</a></li>
	                    </ul>
	                </div>
	            </div>
	       </div>
	    </footer>
	</div>
</body>
</html>